body{
    width: 100%;
    justify-content: center;
}

.bloque-caras{
    border: 10px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-items: center;
}

img{
    width: 200px;
    height: 200px;
}